{{ ansible_managed | comment }}
[Unit]
Description=Renew Step certificate
After=network.target
StartLimitInterval=600
StartLimitBurst=5

[Service]
Type=simple
Restart=always
RestartSec=1
Environment=STEPPATH={{ step_config_dir }}
ExecStart={{ step_cli_bin }} ca renew {{ step_certs_dir }}/cert.crt {{ step_secrets_dir }}/cert.key --daemon --force{% if step_cert_renewal_reload_services is defined and step_cert_renewal_reload_services | length >0 %} --exec "systemctl try-reload-or-restart {{ step_cert_renewal_reload_services | join(' ') }}"{% endif %}

[Install]
WantedBy=multi-user.target